@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 * {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
 }

 :root {
    font-size: 62.5%;
    --color-bg:#ff0000;
    --primary-color: #0a0a0a;
    --secondary-color: #a51a1a;
    --text-color: #fff;
 }

 body, button, input, label, h1, h2, h3, h5, h6, p, span{
    font-family: 'Roboto', sans-serif;
  }
.menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-bg);
    align-items: center;
}

.menu td {
    padding: 0 1rem;
}

.menu a {
    color: var(--text-color);
    padding: 1rem 2rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    
}

h1 {
    font-size: 4rem;
    line-height: 3.2;
    font-weight: 700;
    text-align: center;

    color: var(--primary-color);
}

h2{
    font-size: 2rem;
    line-height: 1.5;
    color: var(--secondary-color);
    text-align: center;    
}

h4 {
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    color: var(--secondary-color);
}



p {
    font-size: 1.6rem;
    line-height: 1.5;
    text-decoration: line-through;
    color: var(--primary-color);
    text-align: center;
}
span {
    color: var(--secondary-color);
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}