@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 * {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
 }

 :root {
    font-size: 62.5%;
    --color-bg:#ff0000;
    --primary-color: #0a0a0a;
    --secondary-color: #a51a1a;
    --text-color: #fff;
    --color-bd: #363131;
 }

 body, button, input, label, h1, h2, h3, h5, h6, p, span{
    font-family: 'Roboto', sans-serif;
  }
.menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-bg);
    align-items: center;
    margin-bottom: 10rem;
    width: 100%;
}

.menu td {
    padding: 0 1rem;
}

.menu a {
    color: var(--text-color);
    padding: 1rem 2rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;   
}

.menu a:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

main p {
    font-size: 2rem;
    line-height: 1.6;
    color: var(--primary-color);
    text-align: center;
}

main h1 {
    font-size: 4rem;
    line-height: 3.2;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
}

main p > strong {
    font-weight: 700;
    font-style: italic;
    font-size: 2.2rem;
}

h2{
    font-size: 2rem;
    line-height: 1.5;
    color: var(--secondary-color);
    text-align: center;    
}

main h3 {
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    color: var(--secondary-color);
}

.produto {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color);
}

h4 {
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    color: var(--secondary-color);
}



p {
    font-size: 1.6rem;
    line-height: 1.5;    
    color: var(--primary-color);
    text-align: center;
}

.price {
    text-decoration: line-through;
}

span {
    color: var(--secondary-color);
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-bg);
    gap: 1.5rem;
    text-align: center;
    margin-top: 10rem;
}

.contato {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 3rem;
    margin: 3rem 0;
}

.contato .contato__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.faleConosco {
    display: flex;
    margin-left: 18rem;
    gap: 1rem;
    width: 100%;
}

.faleConosco form {
    display: flex;
    flex-direction: column;
}

.faleConosco label {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
}

.faleConosco input[type="email"],
.faleConosco input[type="text"],
.faleConosco textarea {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid var(--color-bd);
    width: 100rem;
}

.faleConosco button {
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 0;
    transition: background-color 0.2s ease-in-out;
}

.faleConosco button:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

footer h4 {
    color: var(--text-color);
    text-decoration: none;
}
footer span {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
    text-align: center;
}